<div id="login">
					<h1 class="tab">BAY RIDGE FEDERAL CREDIT UNION</h1>
					<div class="innercontent clearfix">
                    	<div class="innercontent bodymargin">
							<h1>Products &amp; Services</h1>
							<p class="centertext">
								<%= link_to "Savings", :anchor => "savings", :class => "normallink" %> | <%= link_to "Loans", :anchor => "loans", :class => "normallink" %> | <%= link_to "Home Banking", :anchor => "homebanking", :class => "normallink" %></p>
							<hr />
                            <a name="savings"></a>
							<h4>SAVINGS</h4>
							<h3>Regular Savings</h3>
							<p>
								Your Regular Savings account earns competitive dividends with a minimum balance of only $100.00. 
                                Dividends are based on the average daily balance in your account. Withdrawals can be made in person, 
                                by phone, or with Home Banking.<br />
								<a href="memapp.asp" class="normallinkright">apply</a> | <%= link_to "Rates", rates_savings_path, :class => "normallinkright" %></p>
							<h3>Automatic Savings</h3>
							<p>
								Your Automatic Savings account earns competitive dividends with NO minimum balance. Direct Deposit or 	
                                Payroll Deduction or Voucher Deduction is required for this account. Withdrawals can be made with a Bay 
                                Ridge ATM or Debit Card, or with Home Banking.
								<br />
								<a href="memapp.asp" class="normallinkright">apply</a> | <%= link_to "Rates", rates_savings_path, :class => "normallinkright" %> </p>
							<h3>Money Market Account</h3>
							<p>
								The Money Market account earns a higher return and gives you complete liquidity and instant access to 	
                                your funds. The minimum balance to open is $2,000. Balances over $2,000 receive dividends higher than 
                                market average; and balances over $20,000 receive an even higher Bonus dividend rate. Withdrawals can 
                                be made by writing a check, by phone, in person, or with Home Banking.
								<br />
								<a href="memapp.asp" class="normallinkright">apply</a> | <%= link_to "Rates", rates_savings_path, :class => "normallinkright" %></p>
							<h3>Certificate of Deposit</h3>
							<p>
                                High yielding Certificates are available for a minimum of $500. Terms range from 6 months to 60 months 	
                                and earn a higher than market rate. Balances over $20,000 receive an even higher Bonus rate.
								<br />
								<a href="memapp.asp" class="normallinkright">apply</a> | <%= link_to "Rates", rates_savings_path, :class => "normallinkright" %></p>
							<h3>Individual Retirement Account</h3>
							<p>
                                Increase the value of your income and protect your future with an IRA. You can choose from the Regular,
                                Roth, or Educational. IRA Money Market Accounts and IRA Certificates earn Bonus dividend rates with no 
                                minimum.
                                <br />
								<a href="memapp.asp" class="normallinkright">apply</a> | <%= link_to "Rates", rates_savings_path, :class => "normallinkright" %></p>
							<h3>Checking</h3>
							<p>
                                Our Personal Checking account has NO monthly fee, NO per check fee, and NO minimum balance. Write all 
                                the checks you want, and use your Bay Ridge ATM or Debit Card with NO transaction charges.
                                <br />
								<a href="memapp.asp" class="normallinkright">apply</a> | <%= link_to "Rates", rates_savings_path, :class => "normallinkright" %></p>
							<hr />
                            <a name="loans"></a>
                            <h4>Loans</h4>
							<h3>Personal Loans</h3>
							<p>
                                You can borrow from $1,000 up to $25,000 for education, vacation, furniture, to help your family, to 
                                improve your house or apartment, etc. You can also borrow to expand or improve a business or store, buy
                                merchandise, etc.
                                <br />
								<a href="loanapp.asp" class="normallinkright">apply</a> | <%= link_to "Rates", rates_savings_path, :class => "normallinkright" %></p>
							<h3>Home Mortgages</h3>
							<p>
                                We offer mortgages on 1-4 family homes,Condos and Co-ops. Purchase or Refinance. Low rates, reasonable 
                                expenses, NO prepayment penalties, and NO broker fees.
                                <br />
								<a href="loanapp.asp" class="normallinkright">apply</a> | <%= link_to "Rates", rates_savings_path, :class => "normallinkright" %></p>
							<h3>Home Equity Line of Credit</h3>
							<p>
								You can draw against a pre-approved credit line whenever you choose. Interest only payments are 
                                available. Interest may be tax deductible. Low rates, reasonable expenses, NO prepayment penalties, and
                                NO broker fees. Ask about our No Closing Costs Option!
								<br />
								<a href="loanapp.asp" class="normallinkright">apply</a> | <%= link_to "Rates", rates_savings_path, :class => "normallinkright" %></p>
							<h3>Commercial Mortgages</h3>
							<p>
                                Purchase or refinance first mortgages on commercial properties, mixed use properties, and gas stations. 
                                Lines of credit also available. Low rates, reasonable expenses, NO prepayment penalties, and NO broker 
                                fees. 
                                <br />
								<a href="loanapp.asp" class="normallinkright">apply</a> | 
								<a href="rates_savings.asp" class="normallinkright">rates</a>
							</p>
							<h3>Taxi Loans</h3>
							<p>
                                We finance NYC Taxi Medallions at the lowest rates in town. No points, no legal fees, no prepayment 
                                penalties. Purchase or Refinance.
                                <br />
								<a href="loanapp.asp" class="normallinkright">apply</a> | <%= link_to "Rates", rates_savings_path, :class => "normallinkright" %></p>
							<h3>Black Car Loans</h3>
							<p>
								Financing is available for members of select Limousine Radio Groups. Finance your radio purchase, 
                                replace your car, or take cash out of a paid-off radio. 
                                <br />
								<a href="loanapp.asp" class="normallinkright">apply</a> | <%= link_to "Rates", rates_savings_path, :class => "normallinkright" %></p>
							<h3>New Car and Used Car Loans</h3>
							<p>
                                Auto's for personal use. Our low rates and longer terms will make your next car affordable. We offer an
                                Extended Warranty program at much lower cost than car dealers charge.
								<br />
								<a href="loanapp.asp" class="normallinkright">apply</a> | <%= link_to "Rates", rates_savings_path, :class => "normallinkright" %></p>
							<h3>Visa Credit Card</h3>
							<p>
                                Wow! Our VISA Card has a low 9.9% Annual Percentage Rate!
                                <br />
								<a href="loanapp.asp" class="normallinkright">apply</a> | <%= link_to "Rates", rates_savings_path, :class => "normallinkright" %></p>
							<h3>Savings Secured Loans</h3>
							<p>
								Borrow against savings on deposit with us at low, low rates, and convenient terms.
                                <br />
								<a href="loanapp.asp" class="normallinkright">apply</a> | <%= link_to "Rates", rates_savings_path, :class => "normallinkright" %></p>
							<hr />
                            <a name="homebanking"></a>
							<h4>home banking</h4>
							<p>
								Bay Ridge Credit Union is proud to offer Home Banking service, with NO fees. 
                                From the ease of your home you will be able to do account inquiries, transfers 
                                between accounts, loan payments, transaction history, verification of cleared 
                                checks, and withdrawals (a check is mailed to you). This service is available
								24/7. The first time you do your banking from home in your pajamas you'll love 
                                the convenience!
							</p>
							<p>
								Your account is updated as soon as you complete a transaction. Home Banking will 
                                also allow you to download your accounts to either Quicken or Microsoft Money. 
                                All that is required is a browser such as Netscape Navigator or Internet Explorer 
                                v. 4.0, and a confidential PIN number. Just call us to request a PIN, and use Home 
                                Banking immediately.
							</p>
						</div>
                    </div>
                    <h1 class="tabbottom"><%= link_to "Back", "javascript: history.back();", :class => "backbottomlink" %></h1>
				</div>