<div id="login">
					<h1 class="tab">BAY RIDGE FEDERAL CREDIT UNION</h1>
					<div class="innercontent clearfix">
   	    				<div class="innercontent body">
                          <p class="centertext"> 
						  <%= link_to "Personal Loans", :anchor => "personal_loans" %>
						  <%= link_to "Home Mortgages", :anchor => "home_mort" %>
						  <%= link_to "Commercial Mortgages", :anchor => "comm_mort" %>
						  <%= link_to "Taxi Loans", :anchor => "taxi_loans" %>
						  <%= link_to "Limousine Loans", :anchor => "limo" %>
						  <%= link_to "Auto Loans", :anchor => "auto_loans" %>
						  <%= link_to "Visa Credit Card", :anchor => "creditcard" %>
						  <%= link_to "Savings Secured", :anchor => "secured" %></p>
                          <a name="personal_loans" class="normallink" id="personal_loans"></a><h5>Personal Loan Rates</h5>
                            <table class="rates">
                                <tr>
                                    <td class="lightblue">Loan Type</td>
                                    <td class="lightblue">Terms</td>
                                    <td class="lightblue">Rate (APR)</td>
                                </tr>
                                <tr>
                                    <th colspan="3">&nbsp;</th>
                                </tr>
                                <tr>
                                    <td>Personal Loan</td>
                                    <td>up to 5 years</td>
                                    <td>from 9.9% (1)</td>
                                </tr>
                                <tr>
                                    <td class="smallprint" colspan="3">(1) actual rate is based on your credit rating</td>
                                </tr>
                            </table>
                            <p>&nbsp;</p>
                            <a href="#home_mort" name="home_mort" id="home_mort"></a><h5>Home Mortgage Rates</h5>
                            Residential property mortgages for purchase or refinance of principal 
                            residence, vacation home, or rental property.  No income verification available.  Less than perfect 
                            credit program available.<br />
                            <h3>Call (718) 680-2121 for details.</h3>
                            <table class="rates">
                                <tr>
                                    <td class="lightblue">Loan Type</td>
                                    <td class="lightblue">Terms</td>
                                    <td class="lightblue">Rate (APR)</td>
                                </tr>
                                <tr>
                                    <th colspan="3">&nbsp;</th>                           
                                </tr>
                                <tr>
                                    <td class="leftbold">First Mortgage<br />1-4 Family House, or Condo</td>
                                    <td>15-20-25-30 years</td>
                                    <td>call for today's low rates</td>
                                </tr>
                                <tr>
                                    <td class="leftbold">First Mortgage<br />Co-op Apartment</td>
                                    <td>10-15 years</td>
                                    <td>call for today's low rates</td>
                                </tr>
                                <tr>
                                    <td class="leftbold">Home Equity Line Of Credit<br />No closing cost option available</td>
                                    <td>Interest only during 10 year draw period. 20 years to repay</td>
                                    <td>adjusts with the Prime Rate.</td>
                                </tr>
                                <tr>
                                    <td class="leftbold">Home Equity Loan</td>
                                    <td>5-10-15-20 years</td>
                                    <td>from 9.75% fixed rate</td>
                                </tr>
                            </table>
                            <p>&nbsp;</p>
                            <a href="#comm_mort" name="comm_mort" id="comm_mort"></a><h5>Commercial Mortgage Rates</h5>
                            <p>First Mortgage Loans on properties in Brooklyn, Queens &amp; Staten Island.</p>
                            <h3>Call (718) 680-2121 for details.</h3>
                            <table class="rates">
                                <tr>
                                    <td class="lightblue">Loan Type </td>
                                    <td class="lightblue">Terms</td>
                                    <td class="lightblue">Rate (APR)</td>
                                </tr>
                                <tr>
                                    <th colspan="3">&nbsp;</th>
                                </tr>
                                <tr>
                                    <td class="leftbold">Commercial Properties Mixed Use Properties<br />
                                        Office Buildings<br />
                                        Gas Stations<br />
                                        Apartment Buildings</td>
                                    <td>up to 70% LTV<br />
                                        Payments based on 10-15-20-25 year amortization.</td>
                                    <td>call for today's rate<br />
                                        5 Year Adjustable<br />
                                        &nbsp;&nbsp;5 Yr Treas Bill +3.0%<br />
                                        12 Year Fixed</td>
                                </tr>
                                <tr>
                                    <td class="leftbold">Commercial Equity Line of Credit</td>
                                    <td>&nbsp;</td>
                                    <td>5 Year Adjustable<br />
                            			&nbsp;&nbsp;5 Yr Treas Bill +3.0%</td>
                                </tr>
                            </table>
                            <p>&nbsp;</p>
                            <a href="#taxi_loans" name="taxi_loans" id="taxi_loans"></a><h5>NYC Taxi Medallion Loan Rates</h5>
                            <table class="rates">
                                <tr>
                                    <th colspan="4"> TAXI MEDALLION - SELF AMORTIZING - FIXED RATES</th>
                                </tr>
                                <tr>
                                    <td class="lightblue">5 Yr</td>
                                    <td class="lightblue">7 Yr</td>
                                    <td class="lightblue">10 Yr</td>
                                    <td class="lightblue">12 Yr</td>
                                </tr>
                                <tr>
                                    <td>5.50%</td>
                                    <td>5.75%</td>
                                    <td>6.00%</td>
                                    <td>6.50%</td>
                                </tr>
                                <tr>
                                    <th colspan="4"> TAXI MEDALLION - BALLOON AMORTIZING -  FIXED RATES</th>
                                </tr>
                                <tr>
                                    <td class="lightblue">Payout</td>
                                    <td class="lightblue">18 Mo</td>
                                    <td class="lightblue">3 Yr</td>
                                    <td class="lightblue">5 Yr</td>
                                </tr>
                                <tr>
                                    <td>10 Years</td>
                                    <td>5.50%</td>
                                    <td>5.75%</td>
                                    <td>6.00%</td>
                                </tr>
                                <tr>
                                    <td>15 Years</td>
                                    <td>5.50%</td>
                                    <td>5.75%</td>
                                    <td>6.00%</td>
                                </tr>
                                <tr>
                                    <td>20 Years</td>
                                    <td>5.50%</td>
                                    <td>5.75%</td>
                                    <td>6.00%</td>
                                </tr>
                                <tr>
                                    <td>25 Years</td>
                                    <td>5.50%</td>
                                    <td>5.75%</td>
                                    <td>6.00%</td>
                                </tr>
                                <tr>
                                    <td>30 Years</td>
                                    <td>N/A</td>
                                    <td>7.25%</td>
                                    <td>7.50%</td>
                                </tr>
                            </table>
                            <p>&nbsp;</p>
                            <a href="#limo" name="limo" id="limo"></a><h5>Limousine Industry Loans</h5> 
                            (for Select Radio Groups)<br />
                            <br />
                            <table class="rates">
                                <tr>
                                    <td class="lightblue">Loan Type</td>
                                    <td class="lightblue">Rate (APR)(3)</td>
                                </tr>
                                <tr>
                                    <td colspan="2">&nbsp;</td>
                                </tr>
                                <tr>
                                    <td>Co-op Stock &amp; Radio Rights &amp; Cars</td>
                                    <td>7.5%</td>
                                </tr>
                                <tr>
                                    <td>Franchise Radio Rights &amp; Cars</td>
                                    <td>10.9%</td>
                                </tr>
                                <tr>
                                    <td class="smallprint" colspan="2">(3) with payments by voucher deduction.</td>
                                </tr>
                            </table>
                            <br />
                            <br />
                            <br />
                            <a href="#auto_loans" name="auto_loans" id="auto_loans"></a><h5>Auto Loan Rates</h5>
                            <table class="rates">
                                <tr>
                                    <th colspan="6"> NEW PERSONAL AUTOS</th>
                                </tr>
                                <tr>
                                    <td>Credit<br />Score</td>
                                    <td>Auto  Pay(4)<br />
                                        APR 36 mo</td>
                                    <td>Auto  Pay(4)<br />
                                        APR 48 mo</td>
                                    <td>Auto  Pay(4)<br />
                                        APR 60 mo</td>
                                    <td>Auto  Pay(4)<br />
                                        APR 72 mo</td>
                                    <td>Auto Pay(4)<br />
                                        APR 84 mo</td>
                                </tr>
                                <tr>
                                    <td>800+</td>
                                    <td>5.25%</td>
                                    <td>5.50%</td>
                                    <td>5.75%</td>
                                    <td>6.00%</td>
                                    <td>6.25%</td>
                                </tr>
                                <tr>
                                    <td>680-799</td>
                                    <td>5.75%</td>
                                    <td>6.00%</td>
                                    <td>6.25%</td>
                                    <td>6.50%</td>
                                    <td>6.75%</td>
                                </tr>
                                <tr>
                                    <td>640-679</td>
                                    <td>6.75%</td>
                                    <td>7.00%</td>
                                    <td>7.25%</td>
                                    <td>7.50%</td>
                                    <td>7.75%</td>
                                </tr>
                                <tr>
                                    <td>600-639</td>
                                    <td>8.75%</td>
                                    <td>9.00%</td>
                                    <td>9.25%</td>
                                    <td>9.50%</td>
                                    <td>9.75%</td>
                                </tr>
                                <tr>
                                    <td>550-599</td>
                                    <td>12.75%</td>
                                    <td>13.00%</td>
                                    <td>13.25%</td>
                                    <td>13.50%</td>
                                    <td>N/A</td>
                                </tr>
                                <tr>
                                    <td>549-less</td>
                                    <td>16.25%</td>
                                    <td>16.50%</td>
                                    <td>16.75%</td>
                                    <td>N/A</td>
                                    <td>N/A</td>
                                </tr>
                                <tr>
                                    <td colspan="6">(4) Auto Pay Rates apply when payments are
                                        made electronically.<br />
                                        If payments are made in person or by mail add
                                        .50% to rate.</td>
                                </tr>
                            </table>
                            &nbsp;
                            <table class="rates">
                                <tr>
                                    <td colspan="7">USED PERSONAL AUTOS</td>
                                </tr>
                                <tr>
                                    <td colspan="7">Loan to Value - Adjust the above rates for both loan to value
                            			and vehicle age</td>
                                </tr>
                                <tr>
                                    <td>Below 80% LTV</td>
                                    <td>80-90% LTV</td>
                                    <td>91-100% LTV</td>
                                    <td>101-110% LTV</td>
                                    <td>111-120% LTV</td>
                                    <td>121%+ LTV</td>
                                </tr>
                                <tr>
                                    <td>-0.50%</td>
                                    <td>-0.25%</td>
                                    <td>Base Rate</td>
                                    <td>+0.50%</td>
                                    <td>+1.00%</td>
                                    <td>+1.50%</td>
                                </tr>
                                <tr>
                                    <td colspan="6">(4)
                                        Auto Pay Rates apply when payments are made electronically.<br />
                                        If payments are made in person or by mail add .50% to rate.</td>
                                </tr>
                            </table>
                            <p>AGE OF COLLATERAL</p>             
                            <ol>
                                <li>Add 1% to above rates on model years 2007-2008.</li>
                                <li>Add 2% to above rates on model years 2004-2006.</li>
                                <li>Add 3% to above rates on model years 7 years and older.</li>
                                <li>Note:&nbsp; Federal Credit Unions cannot exceed 18%.</li>
                            </ol>
                            <br />
                            <br />
                            <a href="#creditcard" name="creditcard" id="creditcard"></a><h5>Visa Credit Card Rates</h5>
                            <table class="rates">
                                <tr>
                                    <th>VISA Credit Card</th>
                                </tr>
                                <tr>
                                    <td>10.75% - 17.95%</td>
                                </tr>
                            </table>
                            <span class="smallprint centertext">The annual PERCENTAGE RATE is based on certain credit-worthiness
                            criteria.</span>
                            <a href="#secured" name="secured" id="secured"></a><h5>Savings Secured Loans</h5>
                            <table class="rates">
                                <tr>
                                    <th>Shared Secured</th>
                                </tr>
                                <tr>
                                    <td>4% above the rate paid on shares pledged</td>
                                </tr>
                            </table>
                     	</div>
                    </div>
                    <h1 class="tabbottom"><%= link_to "Back", "javascript: history.back();", :class => "backbottomlink" %></h1>
				</div>