				<p class="legal centertext">
					Your savings federally insured to at least $250,000 and backed by 
					the full faith and credit of the United States Government.&nbsp; We 
					do business in accordance with the Federal Fair Housing Law &amp; the 
					Equal Credit Opportunity Act.
				</p>
				<p class="logos centertext">
					<%= image_tag "woccu.gif", :alt => "" %>
					<%= link_to image_tag("ncua_logo.jpg", :alt => ''), "http://www.ncua.gov/", :rel => "external" %>
					<%= link_to image_tag('ehl.gif', :alt => ''), ehl_path, :rel => 'external' %>
                    <%= link_to  image_tag("https://www.securitymetrics.com/images/sm_ccsafe_wh.gif", :alt => "SecurityMetrics for PCI Compliance, QSA, IDS, Penetration Testing, Forensics, and Vulnerability Assessment"), "https://www.securitymetrics.com/site_certificate.adp?s=63%2e144%2e54%2e223&amp;i=74175", :rel => 'external' %>
				</p>
				<p class="centertext legal">
					Web site designed and maintained by:
					<br />
					<%= link_to image_tag("shareone.gif", :alt =>"Share One, Inc."), "http://www.shareone.com", :rel => "external" %>
				</p>
			</div>
		</div>
		<div id="bottomborder"></div>
	</div>